In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from ydata_profiling import ProfileReport

In [2]:
#Load Data
file_data = r'C:/Users/deepa/Desktop/Import data/import_data.csv'
df = pd.read_csv(file_data, encoding='utf-8-sig')
df.head()

C:\Users\deepa\AppData\Local\Temp\ipykernel_20752\424163941.py:3: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_data, encoding='utf-8-sig')

,Date,HS Code,Product Description,Importer Name,Importer Add1,Importer City,Importer Pincode,Importer State,Importer Phone,Importer E-mail,...,Importer Add1- Unified,Importer City- Unified,Importer Pincode- Unified,Importer State- Unified,Importer Phone- Unified,Importer E-Mail- Unified,Contact Person-Unified,Estimated CIF Value $,Tax $,Landed Value $
0,01-04-2022,29052220.0,GERANIOL EXTRA/PO:4970353135/00010ACYCLIC TERP...,BASF INDIA LIMITED,"THE CAPITAL, A WING, 1204-C,,12TH FLOOR, PLOT ...",BANDRA,400051.0,MAHARASHTRA,9.18292E+11,sarang.bhumkar@basf.com,...,"THE CAPITAL, A WING, 1204-C,,12TH FLOOR, PLOT ...",BANDRA,400051.0,MAHARASHTRA,9.18292E+11,sarang.bhumkar@basf.com,SHYAMALA GOPINATH,"56,236.00","15,597.05","71,833.05"
1,01-04-2022,29143990.0,PHANTOLIDE ORGANIC CHEMICAL FOR MANUFACTURING...,GIVAUDAN I PVT LTD,"PLOT NO.26,2ND CROSS,JIGANI,INDUST RIAL AREA,J...",BANGALORE,562106.0,KARNATAKA,9.19901E+11,dwaraka@dextrousinc.in,...,"PLOT NO.26,2ND CROSS,JIGANI,INDUST RIAL AREA,J...",BANGALORE,562106.0,KARNATAKA,9.19901E+11,dwaraka@dextrousinc.in,MOHANRAO CHANDAPPA SUVARNA,568.11,114.96,683.07
2,01-04-2022,29143990.0,"2,4 DICHLORO ACETOPHENONE INTERMEDIATE CHEMICAL",V SANGUINE EXIM,"4/17,PERIYANAYAGIPURAM KORAMPALLAM ,TAMILNADU ...",Tuticorin,628101.0,Tamil Nadu,9.19788E+11,Vsanguine5@gmail.com,...,"4/17,PERIYANAYAGIPURAM KORAMPALLAM ,TAMILNADU ...",Tuticorin,628101.0,Tamil Nadu,9.19788E+11,Vsanguine5@gmail.com,T.PERIYA NAVEEN SIVARAM,"12,000.00","3,328.20","15,328.20"
3,01-04-2022,29143990.0,B-GLUCURONIC ACID-1-3N-ACETYL-B-GALACTOSAMINE-...,MMR CHEMICALS,"NO. 67, 14TH CROSS, SRINIVASA NAGAR,SUNKADAKAT...",Bangalore,560091.0,Karnataka,91-9880969708,mkaushikandco@yahoo.com,...,"NO. 67, 14TH CROSS, SRINIVASA NAGAR,SUNKADAKAT...",Bangalore,560091.0,Karnataka,91-9880969708,mkaushikandco@yahoo.com,SMT. BEENA,"1,09,460.00","30,358.73","1,39,818.73"
4,01-04-2022,29061990.0,FENCHYL ALCOHOL END USE BY BUYERS OF OUR FINIS...,GIVAUDAN I PVT LTD,"PLOT NO.26,2ND CROSS,JIGANI,INDUST RIAL AREA,J...",BANGALORE,562106.0,KARNATAKA,9.19901E+11,dwaraka@dextrousinc.in,...,"PLOT NO.26,2ND CROSS,JIGANI,INDUST RIAL AREA,J...",BANGALORE,562106.0,KARNATAKA,9.19901E+11,dwaraka@dextrousinc.in,MOHANRAO CHANDAPPA SUVARNA,"10,280.66","2,851.34","13,132.00"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489290 entries, 0 to 489289
Data columns (total 38 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date                       369255 non-null  object
 1   HS Code                    369255 non-null  float64
 2   Product Description        369254 non-null  object
 3   Importer Name              369232 non-null  object
 4   Importer Add1              344668 non-null  object
 5   Importer City              324860 non-null  object
 6   Importer Pincode           364998 non-null  float64
 7   Importer State             328000 non-null  object
 8   Importer Phone             356299 non-null  object
 9   Importer E-mail            316009 non-null  object
 10  Contact Person             327338 non-null  object
 11  Exporter Name              368718 non-null  object
 12  QTY                        369255 non-null  object
 13  Unit                       369255 non-null  object
 14  Standard Qty               369255 non-null  object
 15  Standard Unit              369255 non-null  object
 16  Unit Rate $                369255 non-null  object
 17  Unit Rate In FC            369255 non-null  object
 18  Unit Rate Currency         369255 non-null  object
 19  Port of Destination        369255 non-null  object
 20  Shipment Mode              369255 non-null  object
 21  Country of Origin          369255 non-null  object
 22  Port Of Origin             261844 non-null  object
 23  Standard Unit Rate $       369255 non-null  object
 24  Month                      369255 non-null  object
 25  Record Id                  369255 non-null  float64
 26  Importer Name- Unified     369232 non-null  object
 27  Exporter Name- Unified     368718 non-null  object
 28  Importer Add1- Unified     344617 non-null  object
 29  Importer City- Unified     316203 non-null  object
 30  Importer Pincode- Unified  355794 non-null  float64
 31  Importer State- Unified    318993 non-null  object
 32  Importer Phone- Unified    347319 non-null  object
 33  Importer E-Mail- Unified   307272 non-null  object
 34  Contact Person-Unified     318353 non-null  object
 35  Estimated CIF Value $      369255 non-null  object
 36  Tax $                      369255 non-null  object
 37  Landed Value $             369255 non-null  object
dtypes: float64(4), object(34)
memory usage: 141.9+ MB

In [4]:
# Cleaning Data

# Specify the columns to keep
columns_to_keep = ['Date', 'HS Code', 'Product Description', 'Importer Name',
                   'Importer State', 'Exporter Name', 'Standard Qty', 
                   'Standard Unit', 'Port of Destination', 'Shipment Mode', 
                   'Country of Origin', 'Port Of Origin']

# Filter out required products with exact string matching
products_to_filter = ['ORTHOXYLENE', 'PARAXYLENE', 'Vinyl Acetate Monomer', 
                      'Styrene Monomer', 'Butyl acetate']

# Create a filtered DataFrame based on exact matches
filtered_df = df[df['Product Description'].isin(products_to_filter)]

# Keep only the necessary columns
filtered_df_cleaned = filtered_df[columns_to_keep]

# Drop rows with missing values (optional)
filtered_df_cleaned = filtered_df_cleaned.dropna()
filtered_df_cleaned.head()

,Date,HS Code,Product Description,Importer Name,Importer State,Exporter Name,Standard Qty,Standard Unit,Port of Destination,Shipment Mode,Country of Origin,Port Of Origin
2945,04-04-2022,29153300.0,Butyl acetate,MERCK LIFE SCIENCE PVT LTD,MAHARASHTRA,MERCK KGAA,2.2,KGS,Bombay Air,Air,Germany,Na
3166,04-04-2022,29153300.0,Butyl acetate,MERCK LIFE SCIENCE PVT LTD,MAHARASHTRA,MERCK KGAA,8.8,KGS,Bombay Air,Air,Germany,Na
3830,04-04-2022,29153300.0,Butyl acetate,C J SHAH CO,MAHARASHTRA,CELANESE PTE LTD,"2,00,000.00",KGS,JNPT,Sea,Singapore,Na
7982,07-04-2022,29153300.0,Butyl acetate,TAKASAGO INTERNATIONAL INDIA PVT LTD,TAMIL NADU,AXXENCE AROMATIC GMBH,1,KGS,Madras Air,Air,Germany,Na
9696,08-04-2022,29153300.0,Butyl acetate,JUPITER DYE CHEM PVT LTD,MAHARASHTRA,CELLMARK ASIA PTE LTD,"67,220.00",KGS,Kandla,Sea,China,Na

In [33]:
small_butyl_acetate_importers = filtered_df_cleaned[
    (filtered_df_cleaned['Product Description'] == 'Styrene Monomer')
]
small_butyl_acetate_importers.head()

Empty DataFrame
Columns: [Date, HS Code, Product Description, Importer Name, Importer State, Exporter Name, Standard Qty, Standard Unit, Port of Destination, Shipment Mode, Country of Origin, Port Of Origin]
Index: []